<div class="post-preview">
    <a routerLink="/articles/{{ article._id }}">
        <h2 class="post-title">
            {{ article.title }}
        </h2>
        <h3 class="post-subtitle">
            {{ article.subtitle }}
        </h3>
    </a>
    <p class="post-meta">Posted by <a href="#">{{ article.author }}</a> on {{ article.pubdate }}</p>
</div>
