    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" [ngStyle]="{ 'background-image': 'url(' + headerImage + ')'}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{ blogTitle }}</h1>
                        <hr class="small">
                        <span class="subheading">{{ blogTagline }}</span>
                        <p class="post-meta" *ngIf="author && pubdate">Posted by <a href="#">{{ author }}</a> on {{ pubdate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
