
<blogapp-navbar
  [navBarLinks]="navBarLinks"
></blogapp-navbar>

<!-- Indject Pages Here -->
<router-outlet></router-outlet>

<blogapp-footer
  twitterLink="#"
  facebookLink="#"
  githubLink="#"
  blogTitle="RafikBlog"
></blogapp-footer>
