<blogapp-header
  blogTitle="RafikBlog"
  blogTagline="Angular is awesome"
  headerImage="img/home-bg.jpg"
></blogapp-header>

<table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let article of articles">
        <td>{{ article.title }}</td>
        <td>{{ article.author }}</td>
        <td>{{ article.updated | date:"MM/dd/y" }}</td>
        <td><a routerLink="/edit/{{ article._id }}">Edit</a></td>
        <td><a (click)="publishArticle()" >Publish</a></td>
      </tr>
    </tbody>
  </table>
