<blogapp-header
  [blogTitle]="article.title"
  [blogTagline]="article.subtitle"
  headerImage="img/home-bg.jpg"
  [author]="article.author"
  [pubdate]="article.pubdate"
></blogapp-header>

<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  <blogapp-article-body
    [articleBody]="article.text"
  >
  </blogapp-article-body>
</div>
