<blogapp-header
  blogTitle="RafikBlog"
  blogTagline="Angular is awesome"
  headerImage="img/home-bg.jpg"
></blogapp-header>

<blogapp-page>
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <blogapp-article-preview
        *ngFor="let article of articles"
        [article]="article"
      ></blogapp-article-preview>
  </div>
</blogapp-page>
